<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="Color" value="CornflowerBlue"/>
		<add key="Key" value="928614750@1#%68#"/>
	</appSettings>
	<connectionStrings>
		<add name="DVLD.DB" connectionString="Server=DESKTOP-939VPUP\MOHAMEDHODAIB;Database=DVLD;Integrated Security=True;"/>
	</connectionStrings>
</configuration>